body {
  font-family: arial, verdana, sans-serif;
  font-size: 20px;
  background-color: #EEEEEE;
}
H1 {
  background-color: #CCCCCC;
  color: #OOOOOO;
}
a:link{
  color: #3235CB;
  text-decoration: none;
}
a:visited{
  color: #2A82D8;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
